NEXT_PUBLIC_SUPABASE_URL=https://ggldxwdyagevswrbtdkm.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxx
SUPABASE_SECRET_KEY=sb_secret_xxx
LINE_CHANNEL_ACCESS_TOKEN=xxx
# Used to put a "follow your order" link in the LINE messages
LINE_LIFF_ID=2011859238-2j5VuDoy
STORE_TIMEZONE=Asia/Bangkok
